.header {
  display: flex;
  justify-content: left;
  align-items: center;
  grid-area: header;
  background: linear-gradient(
    to right,
    rgba(4, 142, 223, 0.842),
    rgb(252, 252, 231)
  );
}
.header img {
  width: 80px;
  animation-name: spin;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  color: azure;
}

.header img:hover {
  animation-play-state: paused;
}
