.nav {
  padding: 15px;
  grid-area: nav;
  background: linear-gradient(
    to bottom,
    rgba(4, 142, 223, 0.842),
    rgb(252, 252, 231)
  );
}
.item a {
  color: white;
  padding-left: 5%;
  text-decoration: none;
  position: relative;
}
a.activeLink {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.message::before {
  content: url("../../images/icon.png");
  position: relative;
  filter: invert(100%);
}
.profile::before {
  content: url("../../images/profile.png");
  position: relative;
  font-size: 0.5rem;
  filter: invert(100%);
}
.auth::before {
  content: url("../../images/cog.png");
  position: relative;
  font-size: 0.5rem;
  filter: invert(100%);
}
.main::before {
  content: url("../../images/react.png");
  position: relative;
  font-size: 0.5rem;
  
  
}
.item{
  display:flex;
  align-items: center;
}